@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Montserrat+Alternates&display=swap');

:root
{
    --modal-duration: 0.5s;
    --main-color: #484848;
    --secondary-color: #408E39;
}

*{ box-sizing: border-box; }

body
{
    font-family: 'Barlow', sans-serif;
    margin: 0;
    transition: transform 0.3s ease;
}

body.show_nav
{
    /* Width of nav */
    transform: translate(200px);
}

nav
{
    background-color: var(--main-color);
    border-right: 2px solid rgba(200, 200, 200, 0.1);
    color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    z-index: 100;
    transform: translate(-100%);
}

/* Nav Headshot */
nav .logo
{
    text-align: center;
    padding: 20px;
}
nav .logo img
{
    border-radius: 100%;
    border: 3px solid var(--secondary-color);
}

/* Nav Menu */
nav ul
{
    padding: 0;
    list-style: none;
    margin: 0;
}
nav ul li
{
    border-bottom: 2px solid rgba(200, 200, 200, 0.1);
    padding: 20px;
}
nav ul li a
{
    color: #FFFFFF;
    text-decoration: none;
}
nav ul li a:hover
{
    color: #FFFFFF;
    text-decoration: underline;
}
nav ul li:first-of-type
{
    border-top: 2px solid rgba(200, 200, 200, 0.1);
    padding: 20px;
}

/* Header */
header
{
    background-color: var(--main-color);
    color: #FFFFFF;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 130%;
    position: relative;
    padding: 40px 15px;
    text-align: center;
}
header h1
{
    margin: 0;
}
header p
{
    margin: 30px 0;
}

/* Header Buttons */
button
{
    cursor: pointer;
    background-color: var(--secondary-color);
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 10px;
    font-weight: bold;
}
button:focus { outline: none; }

.toggle
{
    background-color: rgba(200, 200, 200, 0.1);
    position: absolute;
    top: 20px;
    left: 20px;
}
.cta_btn
{
    padding: 15px 25px;
    font-size: 18px;
}

/* Container */
.container
{
    font-size: 18px;
    padding: 15px;
    margin: 0 auto;
    max-width: 100%;
    width: 1000px;
}

/* Modal */
.modal_container
{
    background-color: rgba(0, 0, 0, 0.5); 
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.modal_container.show_modal
{
    display: block;
    opacity: 1;
}
.modal
{
    background-color: var(--main-color);
	border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 40vw;

    animation-name: modal-open;
    animation-duration: var(--modal-duration);
}
@keyframes modal-open
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

.modal_header
{
    background-color: var(--secondary-color);
    color: #FFFFFF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 2px solid #FFFFFF;
}
.modal_header h3
{
    text-align: left;
    margin: 0;
    padding: 10px 50px;
    font-size: 1.5em;
}

.modal_content
{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.modal_form
{
	color: #FFFFFF;
    padding: 30px 15px;
}

.close_modal
{
    position: absolute;
    top: 0;
    right: 5px;
    background: none;
    font-size: 25px;
}

.form_control
{
	margin-bottom: 10px;
	padding-bottom:  20px;
	position: relative;
}

.form_control label
{
	display: block;
	margin-bottom: 5px;
}

.form_control input
{
	border: 2px solid #909090;
	display: block;
	border-radius: 5px;
	width: 100%;
	padding: 10px;
	font-size: 14px;
}

.form_control.success input
{
	border-color: var(--success-color);
}

.form_control.error input
{
	border-color: var(--error-color);
}

.form_control small
{
	color: var(--error-color);
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form_control.error small
{
	visibility: visible;
}

h3
{
	text-align: center;
}

.button_holder
{
	text-align: center;
}

.submit
{
	width: 50%;
	font-size: 16px;
	color: #FFFFFF;
}